<h1>Add New Author</h1>
<form action="/authors" method="POST">
    First name: 
    <input type="text" name="firstname">
    Last name:
    <input type="text" name="lastname">
    Genre:
    <input type="text" name="genre">
    <input type="submit" value="ADD">
</form>